$base-font-size: 18 !default;

$transition-duration: 0.3s !default;
$transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1) !default;

$zoom-icon-background: rgba(26, 42, 58, 0.94) !default;
$zoom-icon-color: #fff !default;

$lightbox-background: rgba(26, 42, 58, 0.94) !default;

$caption-background: rgba(255, 255, 255, 0.94) !default;
$caption-color: #1a2a3a !default;

$counter-background: transparent !default;
$counter-color: #fff !default;

$button-background: transparent !default;
$button-color: #fff !default;

$loader-color: #fff !default;

$slide-max-height: 85vh !default;
$slide-max-width: 85vw !default;
